<div class="post-preview">
        <a href="/post/{{id}}">
            <h2 class="post-title" id={{id}}>{{title}}</h2>
        </a>
        <h3 class="post-subtitle">{{content}}</h3>
     <div class="post-meta">
        Posted by
        <p>{{user.name}}</p>
        <p>{{createdAt}}</p>
    </div>
    <form>
        text area and button. Link a js file that has clickhandler to submit comment. script tag bottom of pg. js file in public js folder...name it "comment.js"
        this file will have fetch post request which will go to '/api/comments'  send over post id, user id...post id from front end    window.location  do some dot split 
        functionality that creates an array....split at the forward slash and grab last element of the array.  array.length -1 which will give me the last element (id in url)
        get user id from req.sessions....already in project code.

fetch request to post a blog.....end point '/api/posts' send over req.body.title
    </form>
    {{#each comments as |comment|}}
    <div>
       <p>{{comment.content}}</p> 
        <p>{{comment.user.name}}</p> 
         <p>{{comment.createdAt}}</p> 
    </div>
    {{/each}}
</div>