<div class='bg-secondary'>
  {{!-- {{#if theater.length}} --}}
  <div class="container-xl">
    <nav class="navbar text-light bg-dark rounded-bottom">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-light bg-dark">Theaters</span>
      </div>
    </nav>

    {{#each theaters as |theater|}}
   
    <div class="accordion bg-secondary m-3" id="accordion{{id}}">
      <div class="accordion-item text-light bg-dark">
        <h2 class="accordion-header bg-secondary" id="heading{{id}}">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}"
            aria-expanded="true" aria-controls="collapse{{id}}">
            <a>
              <h2 class="mb-1">{{name}}</h2>
            </a>
            <p class="text-end">{{address}}</p>
      </div>
      <h3 class="m-3 mb-5">  Overall Rating: {{reviews.[0].masterRating}}</h3>
      </button>
      </h2>
      <div id="collapse{{id}}" class="accordion-collapse collapse bg-secondary" aria-labelledby="heading{{id}}"
        data-bs-parent="#accordion{{id}}">
        <div class="accordion-body bg-secondary">
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-secondary">Seating: {{reviews.[0].avgSeatingRating}}</li>
              <li class="list-group-item bg-secondary">Concessions: {{reviews.[0].avgConcessionsRating}}</li>
              <li class="list-group-item bg-secondary">Audio: {{reviews.[0].avgAudioRating}}</li>
              <li class="list-group-item bg-secondary">Video: {{reviews.[0].avgVideoRating}}</li>
              <li class="list-group-item bg-secondary">Parking: {{reviews.[0].avgParkingRating}}</li>
              <li class="list-group-item bg-secondary">Service: {{reviews.[0].avgServiceRating}}</li>
              <li class="list-group-item bg-secondary">Crowd: {{reviews.[0].avgCrowdRating}}</li>
            </ul>
          </div>
          <a href="/theater/{{id}}"><button type="button" class="btn btn-info ms-2">Read Reviews</button></a>
        </div>
      </div>
    </div>
    {{/each}}


  </div>
  {{!-- {{/if}} --}}
</div>